
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>{{address}} iAppreciate.NYC prediction</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="starter-template.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>
    {{mymap.js}}
    <script type="text/javascript" src="http://kozea.github.com/pygal.js/javascripts/svg.jquery.js"></script>
    <script type="text/javascript" src="http://kozea.github.com/pygal.js/javascripts/pygal-tooltips.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/input"><img src="../static/logo_white.png", alt="iAppreciate.nyc"
            width = 200>
          </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/input">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <br><br>

        <div class="container">

          <div class="container">
            <br>
              <h2>Real estate appreciation trends and predictions along the NYC subway.</h2>
              <br>
          </div>

          <div class = "container">
              <form  action="/output" method="GET">
                  <div class="col-xs-6">
                    <label for="ID">Enter an address or neighborhood
                      for real estate appreciation trends.</label>
                    <input class="form-control" type="text" id="ID" name='ID' placeholder="Try another location?">
                    <br>
                    <button type="submit" class="btn btn-default btn-lg">How much will this location appreciate?</button>
                  </div>
              </form>
            </div>

          <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
          <script src="static/js/bootstrap.min.js"></script>

        </div> <!-- /.container-->

    <div class="container">
      <div class="starter-template">
          <h2></h2>
      </div>
      <div call="row">
      <div class="col-md-8">
        <h3>Predicted appreciation near the {{station}} station:
        </h3>
       {{ line_chart.render()|safe }}

      </div>
      </div>


     <div class="col-md-4">
       <div class="starter-template">
         <h3>Closest subway:</h3>
         <p class="lead">
           The nearest subway to <br>
           {{address}}<br>
           is {{station}}</p>
         {{mymap.html}}

         <h2> </h2>

       </div>


      <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
      <script src="static/js/bootstrap.min.js"></script>



       </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
